body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logo  {
    font-family: 'Raleway', sans-serif;
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo>span  {
    color: #2E2F42;
}

.header-menu-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-menu-link:hover {
    color: #404BBF;
}

.header-menu-link:active {
    color: #404BBF;
    text-decoration: underline;
}

.header-contacts-link {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-contacts-link:hover {
    color: #404BBF;
}

.header-contacts-link:focus{
    color: #404bbf;
}

.hero {
    background-color: #2E2F42;
}

.hero-title {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero-btn {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    cursor: pointer;
}

.hero-btn:hover {
    background-color: #404BBF;
}

.hero-btn:focus{
    background-color: #404BBF;
}



.team {
    background-color: #F4F4FD;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-item>h3 {
    text-align: center;
}

.team-item>p {
    text-align: center;
}

.footer{
    background-color: #2E2F42;
}

.footer>a {
    color: #F4F4FD;
}

.footer>p{
    color: #F4F4FD;
}